/*********************************** Normalized style ****************************************/

/** Font **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Custom prepreties **/

:root {
  --clr-gray-darker: #3D3D3F;
  --clr-gray-dark: #6D6E72;
  --clr-gray-light: #E8EAEF;
  --clr-blue-darker: #3F549C;
  --clr-blue-dark: #506FB3;
  --clr-blue-light: #7086CC;
  --clr-teal-darker: #47C3CD;
  --clr-teal-dark: #5CDCE6;
  --clr-teal-light: #91ECF9;
  --clr-purple-darker: #5F539B;
  --clr-purple-dark: #776BB3;
  --clr-purple-light: #998FCC;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 50%;
  color: black;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
}

/** Typography **/

h1 {
  margin-bottom: 2.2rem;
  font-size: 6.75rem;
  line-height: 5rem;
}

h2 {
  margin: 0 auto 10rem auto;
  font-size: 4.5rem;
  line-height: 5rem;
}

h3 {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 4rem;
}

h4 {
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 3.75rem;
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  line-height: 5rem;
}

/** Button **/

.btn {
  border-radius: 5px;
  padding: 1.5rem 3rem;
}

/** Primary button **/

.btn-primary {
  color: black;
  background: linear-gradient(to right, var(--clr-teal-dark) 0%, var(--clr-purple-light));
}

.btn-primary:hover {
  background: linear-gradient(to right, var(--clr-teal-light) 0%, var(--clr-blue-dark));
}

.btn-primary:active {
  background: var(--clr-blue-dark);
}

/** accent button **/

.btn-acc {
  background: black;
}

.btn-acc:hover {
  color: black;
  background: white;
  outline: 1px solid black;
  outline-offset: -1px;
}

.btn-acc:active {
  background: var(--clr-teal-dark);
  outline: none;
}

/** Section **/

section {
  padding: 10rem 40rem;
}


/******************************************* Main **********************************************/

/** Main **/

body{
  background: url("../img/header-bg.jpg") no-repeat center center/cover fixed;
}

#menu {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 2rem 4rem;
}

#menu ul{
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}